@import url(https://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700,700italic);

html,
a,
button,
input {
  font-family: Lato, Helvetica, sans-serif;
}
a {
  color: darkred;
}

a:hover,
a:focus {
  color: rgb(175, 0, 0);
}
[role=button],
button,
input[type=button],
input[type=reset],
input[type=submit] {
  background: darkred;
  color: #fff;
}
[role=button]:is([aria-current], :hover, :active, :focus),
button:is([aria-current], :hover, :active, :focus),
input[type=button]:is([aria-current], :hover, :active, :focus),
input[type=reset]:is([aria-current], :hover, :active, :focus),
input[type=submit]:is([aria-current], :hover, :active, :focus) {
  background: rgb(184, 0, 0);
  color: #fff;
}
.text p {
  text-indent: 2rem;
  margin-top: 0;
  margin-bottom: 0;
}
.text {
  hyphens: auto;
  text-align: justify;
  background-color: #f8f0e3;
  font-family:'Crimson Text', 'Times New Roman', Times, serif;
  padding: 2rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.text h1,
.text h2,
.text h3,
.text p {
  font-family: 'Crimson Text', 'Times New Roman', Times, serif;
}

nav {
  background-color: lightgray;
  font-size: 1.25em;
  line-height: 1em;
  padding: 10px 0px;
}
.lede {
  font-size: 1.75rem;
  color: darkred;
}
select {
  width: auto;
}
